<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <!-- Main Activity with Intent Filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity
            android:name=".LogListActivity"
            android:exported="false" />
        <activity
            android:name=".DailyLogActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".JournalActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".SelfReflectActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".PsychSighActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".DashBoardActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".MeditationActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".MusicChoiceActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar"/>
        <activity
            android:name=".WavesActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar"/>
        <activity
            android:name=".RainActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar"/>
        <activity
            android:name=".BirdsActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar"/>
        <activity
            android:name=".FireActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar"/>
        <activity
            android:name=".ForestActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar"/>
        <activity
            android:name=".FocusActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar"/>
        <activity
            android:name=".DestressActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar"/>
        <activity
            android:name=".SleepActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar"/>
        <activity
            android:name=".ExercisesActivity"
            android:exported="false"
            android:theme="@style/Theme.App.NoActionBar"/>

        <!-- Meta-data inside the application -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>